.addplacesec,.addfoodsec{
    margin : 5%;
}
.addactselector{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content:space-evenly;
    align-items: center;
    font-size:x-large;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(0, 255, 42);
    margin-bottom:3%;
}
#addplace,#addfood{
    cursor:grab;
}
#DBACTIONADD{
    width: 60%;
    max-height: 70vh;
}
#adlist{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    box-sizing: border-box;
    border: 2px solid #029216;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
}
/* #addform #opt{
    color:#686868;
} */
.addform input{
    width: calc(100% - 20px);
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #029216;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
}
#ab{
    color:aliceblue;
    width: 10%;
    padding: 10px 8px;
    text-align: center;
    background-color: rgb(0, 46, 44);
    border:#fff;
    border-width: 5px;
    box-shadow: 0 0 10px rgb(0, 255, 42);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25%;
    margin-top: 1%;
    margin-bottom: 3%;
}