.placepage{
    background: url('../media/bga.jpg') no-repeat center center fixed;
	background-size:cover;
    min-height: 100vh;
    display: flex;
}
.placebox{
    width: 100vw;
    margin-top: 15vh;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.placeheading{
    color: aliceblue;
}
.psec{
        justify-content: center;
        padding-top: 2%;
        padding-bottom: 5%;
        display: flex;
}
.placepic{
    /* width:50vh; */
    padding: 1vh;
    height: 49vh;
    max-width: 450px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #fff;
    animation: slideInFromLeft 1s ease-out;
}
.abtplace{
    background-color: rgba(0, 0, 0, 0.671);
    width: 35%;
    height:50vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    max-height: 80%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.abtplace h3{
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    max-width: 90%;
    margin-left: 20px;
    animation: slide 10s infinite alternate;
}
.placepara{
    padding-left: 4%;
    padding-right: 3%;
    color: rgb(255, 255, 255);
    text-align: justify;
    overflow-y:scroll;
    max-height: 77%;
}
#locatebox{
    display:flex;
    justify-content: space-evenly;
}
.Locateplace{
    margin-top: 3%;
    /* margin-left: 20%; */
    width:max-content;    
    display: flex;
    align-items: center;
    justify-items: center;
    /* padding-right: 10px; */
    background-color: #00000033;
    border-radius: 50px;
    cursor: pointer;
}
.Locate{
    max-height: 70px;
    margin-left: 15px;
    max-width: 200px;
    align-content: center;
    justify-content: center;
}
.Loclink{
    margin-left: 15px;
    margin-right: 15px;
    max-width:max-content;
    position: relative;
    color: #fff;
}